.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  gap:2rem;
  min-height: 100vh;
  justify-content: center;
  margin-top: 8px;
  
}

.header{
  text-align: center;
  margin-top: 24px;
}